[submodule "tools/destin"]
	path = tools/destin
	url = https://github.com/Tatsh/destin
[submodule "gamedef"]
	path = gamedef
	url = https://github.com/ZappaVinny/boz-redux-gamedef.git
[submodule "tools/recast"]
	path = tools/recast
	url = https://github.com/recastnavigation/recastnavigation.git
